
body {
  color: grey;
  font-size: 14px;
  margin: 40px;
}


ul {
  list-style-type: none;
  padding: 0;
}

.buttonList {
  background-color: lightgrey;
  margin: 5px;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  text-align: left;
}

.buttonList:hover {
  background-color: grey;

}

h1 {
  padding-left: 10px;
}
