{
    "env": {
        "es6": true,
        "browser": true,
        "jquery": true,
        "console.log": allow,
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "quotes": ["error", "single"]
    }

}
